@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-screen bg-center bg-cover bg-custom-background;
}

/* index.css 또는 styles.css */

::-webkit-scrollbar {
    width: 4px; /* 스크롤바 너비 조정 */
}
::-webkit-scrollbar-thumb {
    background-color: rgba(112, 108, 108, 0); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

@layer components {
    .modal-visible {
      @apply animate-fadeIn visible;
    }
    .modal-hidden {
      @apply animate-fadeOut invisible;
    }
  }
  @keyframes cardEnter {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-card-enter {
    animation: cardEnter 1s ease-out forwards;
  }
  
  .delay-0 { animation-delay: 0s; }
  .delay-1 { animation-delay: 0s; }
  .delay-2 { animation-delay: 0s; }
  .delay-3 { animation-delay: 0s; }
  .delay-4 { animation-delay: 0s; }
  .delay-5 { animation-delay: 0s; }
  .delay-6 { animation-delay: 0s; }
  .delay-7 { animation-delay: 0s; }
  /* 필요에 따라 delay 클래스를 더 추가 */
  
  